<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=siteConfig.title%></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta content="<%=siteConfig.keywords%>" name="keywords" />
  <meta name="author" content="chinakids">
  <link rel="stylesheet" href="/themes/<%=staticforder%>/css/bootstrap.css?vesion=<%=siteConfig.version%>">
  <link rel="stylesheet" href="/themes/<%=staticforder%>/lib/Art-Reactor/dist/art-reactor.min.css?vesion=<%=siteConfig.version%>" />
  <link rel="stylesheet" href="/themes/<%=staticforder%>/lib/normalize-css/normalize.css?vesion=<%=siteConfig.version%>" />
  <link rel="stylesheet" href="/themes/<%=staticforder%>/lib/fancyBox/source/jquery.fancybox.css?vesion=<%=siteConfig.version%>" />
  <link rel="stylesheet" href="/themes/<%=staticforder%>/css/common.min.css?vesion=<%=siteConfig.version%>">
  <script src="/themes/<%=staticforder%>/lib/jquery/dist/jquery.js?vesion=<%=siteConfig.version%>"></script>
  <script src="/themes/<%=staticforder%>/lib/handlebars/handlebars.js?vesion=<%=siteConfig.version%>"></script>
  <script src="/themes/<%=staticforder%>/js/waterfall.js?vesion=<%=siteConfig.version%>"></script>
  <script src="/themes/<%=staticforder%>/lib/fancyBox/source/jquery.fancybox.js?vesion=<%=siteConfig.version%>"></script>
  <script src="/themes/<%=staticforder%>/js/common.js?vesion=<%=siteConfig.version%>"></script>
</head>
<body>
  <%- include header %>
  <%-body %>
  <!-- BEGIN FOOTER -->
  <%- include footer %>
</body>
</html>
