<!-- 详情页模板 -->

<script src="/themes/<%=staticforder%>/js/detail.js?vesion=<%=siteConfig.version%>"></script>

<div class="wrapper" style="padding-top:70px;">
  <div class="container">
    <div class="col-xs-8 pull-left cf">
      <div class="p-left-box">
          <div class="title">
              <!-- <a href="/themes/<%=staticforder%>/javascript:;" class="btn btn-default pull-left">收藏</a> -->
              <h3><%=documentInfo.title%></h3>
          </div>
          <div class="bigimg-box">
              <img src="<%=documentInfo.sImg%>" alt="">
          </div>
          <div class="title">
            <a href="javascript:;" class="btn btn-default pull-left js-like" data-like="<%= documentInfo.likeNum %>"><span class="ar ar-heart"></span> 喜欢(<%= documentInfo.likeNum %>)</a>
            <a href="javascript:;" class="btn btn-default pull-left"><span class="ar ar-visible"></span> 查看(<%= documentInfo.clickNum %>)</a>
            <a rel="group" href="<%=documentInfo.sImg%>" class="btn btn-default pull-right" title="<%=documentInfo.title%>"><span class="ar ar-amplify-c"></span> 放大</a>
            <a href="javascript:;" class="btn btn-default pull-right"><span class="ar ar-info-b"></span> 举报</a>
          </div>
      </div>

    </div>
      <div class="col-xs-4 pull-left cf">
          <div class="p-right-box">
            <div class="user-info">
                <img src="<%=documentInfo.authorLogo%>" alt="">
                <p><a href="#"><%=documentInfo.author%></a></p>
                <p>发布于 <%=myDateFormat(documentInfo.date)%></p>
            </div>
          </div>
          <div class="p-right-box">
              <!-- <div class="title">ACG<a href="/themes/<%=staticforder%>/javascript:;" class="btn btn-default pull-right">关注</a></div> -->
            <div class="p-tip">
              <p class="price"><i class="ar ar-pei-fu full-left"></i> 价格：&nbsp;&nbsp;<b>＄<%=documentInfo.price %></b></p>
              <p><i class="ar ar-location full-left"></i> 位置：&nbsp;&nbsp;&nbsp;<%=documentInfo.location %></p>
              <% if(documentInfo.callWay == 1){ %>
              <p><i class="ar ar-tencent full-left"></i> ＱＱ：&nbsp;&nbsp;&nbsp;<%=documentInfo.callString %></p>
              <% }else if(documentInfo.callWay == 2){ %>
              <p><i class="ar ar-wechat full-left"></i> 微信：&nbsp;&nbsp;&nbsp;<%=documentInfo.callString %></p>
              <% }else if(documentInfo.callWay == 3){ %>
              <p><i class="ar ar-phone full-left"></i> 电话：&nbsp;&nbsp;&nbsp;<%=documentInfo.callString %></p>
              <% } %>
            </div>
            <div class="html"><%-documentInfo.comments%></div>
          </div>
          <div class="p-right-box">
              <div class="title ft-140">标签 | TAG</div>
              <ul class="tag-list">
                <% for(var i=0,arr = documentInfo.tags.split(','),len = arr.length;i<len;i++) {%>
                  <li><a href="javascript:;"><%=arr[i]%></a></li>
                <% } %>
              </ul>
          </div>
          <!-- <div class="p-right-box">
              <div class="col-xs-12 p-left-re clearfix pull-left">
                  <textarea name="" placeholder="添加评论"></textarea>
                  <div class="re-contorl">
                    <a href="/themes/<%=staticforder%>/javascript:;" class="btn btn-default col-xs-12 ">回复</a>
                  </div>
              </div>
              <div class="p-left-re-list pull-left">
                  <dl class="user-info clearfix jq-action-btn">
                    <dt class="pull-left"><img src="/themes/<%=staticforder%>/images/eq/bg-small-head.png" alt=""></dt>
                    <dd>
                      <p><a href="/themes/<%=staticforder%>/#">季子乌</a> - <span>评论于5分钟前</span>
                      </p>
                      <div class="action-buttons">
                          <a href="javascript:;" class="reply-button" title="回复" data-username="季子乌"></a>
                          <a href="javascript:;" class="delete-button" title="删除"></a>
                      </div>
                      <div class="re-txt-box pull-left">
                          <p>很好看很好看！我曾今跨过山河大海，也穿过人山人海，我曾经拥有着一切，转眼都飘散如烟,我曾经失落失望失掉所有方向 ,直到看见平凡才是唯一的答案</p>
                      </div>
                    </dd>
                  </dl>
                  <dl class="user-info clearfix jq-action-btn">
                    <dt class="pull-left">
                      <img src="/themes/<%=staticforder%>/images/eq/bg-small-head.png" alt="">
                    </dt>
                    <dd>
                      <p><a href="/themes/<%=staticforder%>/#">季子乌</a> - <span>评论于10分钟前</span></p>
                      <div class="action-buttons">
                          <a href="javascript:;" class="reply-button" title="回复" data-username="季子乌"></a>
                          <a href="javascript:;" class="delete-button" title="删除"></a>
                      </div>
                      <div class="re-txt-box pull-left">
                          <p><a href="/themes/<%=staticforder%>/#">@王大锤</a> 很好看很好看！我曾今跨过山河大海，也穿过人山人海，我曾经拥有着一切，转眼都飘散如烟,我曾经失落失望失掉所有方向 ,直到看见平凡才是唯一的答案</p>
                      </div>
                    </dd>
                  </dl>
              </div>

          </div> -->
          <!-- <div class="p-right-box">
              <div class="title ft-140"><%= documentInfo.likeNum %>人喜欢 | LIKE</div>
              <div class="p-right-like-list">
                  <ul>
                       <li><a href="/themes/<%=staticforder%>/#"><img src="/themes/<%=staticforder%>/images/eq/bg-small-head.png" alt="" title="用户名"></a></li>
                  </ul>
              </div>
          </div> -->
      </div>
      <div class="cf pull-left p-recommended" style="width:100%">
          <div class="title ft-140">
              同类推荐
          </div>
          <div class="pubu">
            <%if(reCommendListData.length>0){%>
              <ul class="pubu-wrap clearfix js-pubu">
                <%reCommendListData.forEach(function(item){%>
                  <li class="waterfall-item">
                    <div class="pubu-img-box">
                      <a href="/details/<%=item._id%>.html" class="pubu-img">
                        <img src="<%=item.sImg%>"/>
                      </a>
                      <p class="pubu-num">
                        <span><i class="ar ar-tag"></i> <%=item.category.name%></span>
                        <a href="javascript:;" class="watch-num"><i class="ar ar-preview"></i> <%=item.clickNum%></a>
                        <a href="javascript:;" class="like-num"><i class="ar ar-heart"></i> <%=item.likeNum%></a>
                      </p>
                      <%if(item.sellState){%>
                          <div class="sellout"></div>
                      <%}%>
                    </div>
                    <div>
                      <a href="/details/<%=item._id%>.html" class="pubu-img-name" title="<%=item.title%>"><%=item.title%></a>
                      <p class="pubu-sort" title="<%=item.location%>"><i class="ar ar-location"></i><%=item.location%></p>
                      <a href="#" class="pubu-method clearfix">
                        <span style="background-image:url(<%=item.authorLogo%>);"></span>
                        <b><%=item.author%></b>
                        <b class="price">$ <%=item.price%></b>
                      </a>
                    </div>
                  </li>
                <%})%>
                </ul>
            <%}else{%>
              <div class="t-center pubu-tips">木有推荐啦~</div>
            <%}%>

      </div>
    </div>
  </div>
</div>
